.mainDiv, .usersDiv {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
  font-family: Calibri;
  width: 100%;
}

.tablesDiv, .chatWindow{
  flex: 2 0 50%;
  margin-right: 20px;
}

.actionsDiv, .usersTablesDiv{
  margin-left: 20px;
  flex: 1 0 50%;
  margin-right: 20px;
}
.mainBody{
  background: #93c692;
  font-family: Calibri;
}

.usersTable{
  width: 300px;
  margin-right: 20px;
}

label {
  font-weight: bold;
}

.Title {
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  text-align: left;
  margin-bottom: 20px;
}

.subTitle {
  padding-bottom: 15px;
  text-decoration: underline;
  font-size: 20px;
}
.userNameSpan {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: Calibri;
}

.emptySpan {

}

.logoSpan{
  position: absolute;
  right: 5px;
}

.image {
  height: 50px;
  width: 100px;
  margin-right: 30px;
  margin-top: 5px;
}

.toolBarDiv{
  height: 60px;
  background: rgba(147, 198, 146, 0.82);
}

