.root {
    -fx-accent: #DDE392;
    -fx-focus-color: -fx-accent;
    -fx-base: #504B3A;
    -fx-font-family: "Arharoni";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Arharoni";
}
#rizpaLabel {
    -fx-font-size: 40px;
}

.text-field {
    -fx-border-color: derive(-fx-base,45%);
    -fx-border-width: 0.5px;
    -fx-background-color: -fx-base;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arharoni";
    -fx-border-radius: 20px;
    -fx-background-radius:20px;
}
.tab-pane{
    -fx-font-family: "Arharoni";
}
.button{
    -fx-border-color: derive(-fx-base,45%);
    -fx-border-width: 0.5px;
    -fx-focus-traversable: false;
    -fx-font-family: "Arharoni";
    -fx-background-radius:20px;
    -fx-border-radius: 20px;
}

.button:hover{
    -fx-focus-traversable: false;
    -fx-text-fill: white;
    -fx-font-family: "Arharoni";
}
.combo-box {
    -fx-border-color: derive(-fx-base,45%);
    -fx-border-width: 0.5px;
    -fx-border-radius: 20px;
    -fx-background-radius:20px;
}

.separator *.line {
    -fx-background-color: derive(-fx-base,45%);
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.table-view{
    -fx-border-color: derive(-fx-base,45%);
    -fx-border-width: 0.5px;
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
    -fx-font-family: "Arharoni";
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}