table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 45%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #0764b4;
    color: white;
}
