.root { 
    -fx-accent: #5B5750;
    -fx-base: #8EB8E5;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -fx-font-family: Georgia;
}

.label{
    -fx-text-fill: #492C1D;

}
#rizpaLabel
{
    -fx-font-size: 50;

}
#messegeLable
{
    -fx-font-size: 22;
    -fx-font-family: Georgia;

}

.text-field {
    -fx-prompt-text-fill: #6B7F82;
}
.tab-pane{

    -fx-font-family: Georgia;
}
.button{
    -fx-focus-traversable: false;
	-fx-background-color: #7C99B4;
}

.combo-box{
    -fx-background-color: #7C99B4;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line { 
    -fx-background-color: -fx-accent;
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.table-view{
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.table-row-cell:even,
.table-row-cell:odd{    
    -fx-control-inner-background: derive(-fx-base, 15%);
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}
